* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  
  .box-inputs {
    padding: 20px 0;

    .nwm1{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      // background-color: lightblue;

      .MuiTextField-root {
        flex-basis: 16em;
        margin: 8px;
      }
    }

    .nwm2 {

      .items {
        width: 50%;
        display: inline-block;
        // background-color: blue;
        .item {
          display: flex;
          justify-content: flex-end;

          p {
            font-size: 18px;
            font-weight: normal;
            line-height: 36px;
          }

          .test2 {
            width: 12em;
          }

          .test1 {
            width: 5.5em;
          }
        }

        .MuiTextField-root {
          width: 18.5em;
          margin: 8px;
        }
      }
    }

    .nwm3 {

      .deleteCell {
        padding: 10px;
        width: 20px;

        .deleteIcon {
          padding: 0;
          color: #666;

          .MuiSvgIcon-root {
            margin: 0 5px;
          }
        }
      }

      .productCell {
        padding-left: 0px;

        .product {
          width: 100%;
        }
      }

      .MuiTableCell-root {
        text-align: center;
      }

      .piece {
        width: 4em;
      }

      .price {
        width: 5.3em;
      }

      .MuiButton-root {
        min-width: 20px;
        padding: 5px;
        text-align: center;
        color: white;
      }
    }
  }

  .Post {
    background-color: lightblue;
    max-width: 800px;
    width: 100%;
    display: table;
    margin: 0 auto;
    padding: 20px 50px;
    color: black;
  }
}

