* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  
  .box-inputs {
    padding: 20px 0;

    .nwm1{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      // background-color: lightblue;

      .MuiTextField-root {
        flex-basis: 16em;
        margin: 8px;
      }
    }

    .nwm2 {

      .items {
        width: 50%;
        display: inline-block;

        &.left {
          .item {
            justify-content: flex-start;
          }
        }

        &.right {
          .item {
            justify-content: flex-end;
          }
        }

        .item {
          display: flex;

          p {
            font-size: 18px;
            font-weight: normal;
            line-height: 36px;
          }

          .test2 {
            width: 12em;
          }

          .test1 {
            width: 5.5em;
          }
        }

        .MuiTextField-root {
          width: 18.5em;
          margin: 8px;
        }
      }
    }

    .nwm3 {
      padding-top: 20px;

      .deleteCell {
        padding: 10px;
        width: 20px;

        .deleteIcon {
          padding: 0;
          color: #666;

          .MuiSvgIcon-root {
            margin: 0 5px;
          }
        }
      }

      .productCell {
        padding-left: 0px;

        .product {
          width: 100%;
        }
      }

      .MuiTableCell-root {
        text-align: center;
      }

      .piece {
        width: 4em;
      }

      .price {
        width: 6.3em;
      }

      .clearCell {
        border-bottom: 0px;
      }

      .MuiButton-root {
        height: 45px;
        width: 45px;
        margin: 10px 0 0 10px;
        min-width: 20px;
        padding: 5px;
        text-align: center;

        .MuiIconButton-root{
          color: white;
        }
      }
    }

    .nwm4 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 30px;

      .MuiTextField-root {

        .MuiSelect-select {
          width: 6em;
        }

        &.deadline {
          width: 10em;
        }

        &.numberAcc {
          width: 25em;
        }

        &.verbal {
          margin-top: 20px;
          width: 100%;
        }
      }
    }
  }

  .Post {
    max-width: 800px;
    width: 100%;
    display: table;
    margin: 0 auto;
    padding: 20px 0;
    color: black;

    .title {
      width: 100%;
      height: 50px;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      background-color: #ddd;
      margin: 20px 0;
      padding: 0 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .issueInfo {
      text-align: right;
      font-size: 0.8em;

      p {
        margin: 3px 0px;
      }
    }

    .information {
      display: flex;
      margin-top: 40px;

      .info {
        flex-basis: 50%;

        h3 {
          margin-bottom: 5px;
        }

        p {
          margin: 0px;
        }
      }
    }

    .table {
      margin-top: 60px;

      table {
        border-collapse: collapse;
        width: 100%;

        thead {
          background-color: #ddd;
          font-size: 10px;
        }

        tbody {
          font-size: 13px;
        }
  
        td {
          border: 1px solid black;
          padding: 5px 10px;

          .clr {
            background-color: red;
          }
        }
      }
    }
  }
}